/* Autor: Jordi Galí Manuel */

/* Estilos generales */

:root {
    --border-radius: 15px;
    --marro: #9b7a77;
    --gris: #b5c1ab;
    --verd_fosc: #516551;
    --blanc: #faf9f9;
    --negre: #0f0b0bbc;
    --vermell: #b10e02;
    --groc: #8a8d00;
  
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

@media only screen and (min-width: 480px) {
    /* Estilos para pantallas más grandes o igual a 768px de ancho */
    
body {
    margin: 0;
    padding: 0;
    background-color: var(--gris);
}

header {
    background-color: var(--verd_fosc);
    color: var(--blanc);
    text-align: center;
    padding: 1rem 0;
    border-radius: 10px;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
    border-radius: 10px;
    background-color:var(--blanc);
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 1rem;
}

/* Estilos para los campos de entrada y botones */
input[type="text"],
select,
button {
    width: calc(100% - 12px);
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ced4da;
    border-radius: var(--border-radius);
    background-color:var(--blanc);
}

/* Estilos para los botones */
button {
    background-color: var(--verd_fosc);
    color: var(--blanc);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color:var(--groc);
}

/* Estilos para la tabla de resultados */
table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid var(--blanc);
    padding: 0.5rem;
}

th {
    background-color:var(--verd_fosc);
    color:var(--blanc);
    text-align: left;
}

/* Estilos para mensajes de error */
.error {
    color:var(--vermell);
    font-style: italic;
}

/* Animación de keyframes */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation: fadeIn 1s ease-in-out;
}
}